@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Circe';
  src: url('../src/fonts/Circe-Regular.woff2') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../src/fonts/Circe-Bold.woff2') format('opentype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Circe', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e7eaf2;
  min-height: 100vh;

  /* background-image: url('./images/ellipsePink.png'),
    url('./images/ellipsePurpur.png');
  background-position: bottom left, top right;
  background-repeat: no-repeat; */

  /* @media screen and (min-width: 76px) {
    background-image: url('./images/ellipsePink.png'),
      url('./images/ellipsePurpur.png');
    background-position: bottom left, top right;
    background-repeat: no-repeat;
  } */
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('./images/ellipse-1-tab.png'),
      url('./images/ellipse-2-tab.png');
    background-position: bottom left, top right;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: url('./images/ellipse-1-desk.png'),
      url('./images/ellipse-2-desk.png');
    background-position: bottom left, top right;
    background-repeat: no-repeat;
  }
}

main {
  width: 100%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}
